{% extends "base.html" %}


{% block content %}

    <h2>Twoje wszystkie projekty:</h2>
    <a href="{% url 'projects_app:add' %}" class="btn btn-primary" role="button">Dodaj nowy projekt</a>

    {% if projects %}
        <table class="table table-hover">
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Data utworzenia</th>
                <th>Przepracowane godziny</th>
                <th>Szczegóły</th>
            </tr>
        {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.start_date }}</td>
                <td>{{ project.sum_hours_work }}</td>
                <td>
                    <a href="{% url 'projects_app:details' project.id %}" class="btn btn-xs btn-primary" role="button">Pokaż więcej</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Nie masz żadnych projektów</p>
    {% endif %}

{% endblock %}
