{% extends "base.html" %}


{% block content %}

    <h2>Twoje wszystkie zadania:</h2>
    <a href="{% url 'tasks_app:add' %}" class="btn btn-primary" role="button">Dodaj zadanie</a>
    {% if tasks %}
        <table class="table table-hover">
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Czas</th>
                <th>Akcja</th>
                <th>Więcej</th>
            </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.time }}</td>
                <td>
                    {% if task.start_time %}
                        <a href="{% url 'tasks_app:stop' task.id %}" class="btn btn-xs btn-danger" role="button">Stop</a>
                    {% else %}
                        <a href="{% url 'tasks_app:start' task.id %}" class="btn btn-xs btn-success" role="button">Start</a>
                    {% endif %}
                </td>
                <td><a href="{% url 'tasks_app:details' task.id %}" class="btn btn-xs btn-primary" role="button">Szczegóły</a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Nie masz żadnych zadań</p>
    {% endif %}

{% endblock %}
